* {
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    color:#ffb9a3;
    line-height: 1.5em;
    margin: 0;
    padding: 0; 
}

body {
    background-color: #000000;
    background-repeat: initial;
    overflow: auto;
    position: relative;   
}

h1 {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 3.0em;
    color: #ffb9a3;
    text-decoration: none; 
}

h2 {
    font-family: 'Barlow',sans-serif;
    text-transform: none;
    font-size: 1.0em;
    color: #ffb9a3;
    text-decoration: none
}

h3 {
    font-family: 'Barlow',sans-serif;
    text-transform: none;
    font-size: 1.0em;
    color: #ffb9a3;
    text-decoration: none
}

header, footer {
    text-align: right;

}

@media only screen and (max-width:550px) {
    header{
        text-align: center;
    }
}

/* Link styles */

a:link {
    color: rgb(253, 100, 100); 
 }
 
 a:visited {
     color: rgb(0, 156, 204);
 }
 
 a:hover {
     color: rgb(255, 151, 147);
 }

